html {
	background-image: 
}

#wrapper {
	max-width: 50%;
	margin: auto;
	border: solid 2px #000;
	padding: 1em;
	overflow: auto;
}

#template, #protosite, #repositories{
	max-width: 50%;
	margin: auto;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

ul {
	list-style: none;
}

li {
	padding-right: 2em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer {
	clear: both;
  text-align: center;
}